body{
  background: #282c34;
}

.header {
  font-size: 40px;
  color: #e4e2e2;
  text-align: center;
  padding: 15px; 
}

.nav {
  font-size: 20px;
  
}

.link{
  color:  #c4b1b1;
  transition: all 0.5s ease;
  opacity: 0.8;
}

.link:hover{
  color: white;
  text-decoration: none;
  opacity: 1;
}

.active{
  color: white;
  opacity: 0.8;
  padding: 10px 30px;
  background: #61b2d8;
  border-radius: 10px;
  /* box-shadow:  0 4px 5px 0 rgba(92, 152, 175, 0.2), 0 6px 20px 0 rgba(1, 200, 250, 0.493); */
}

.form{
  width: 40%;
  margin: 50px auto;
  background: #555555;  
  color: #e4e2e2;
  padding: 40px;
}

.form-error{
  color: #b9a4a4;
}

.btn-success{
  border: 0px !important;
  border-color: none !important;
  font-size: 18px;
}